.button {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 1em 1.25em;
  text-align: center;
  color: black;
  transition: background .3s;
  background: gainsboro;
  border: solid thin black;

  &:hover {
    background: whitesmoke;
  }
}