.button {
  color: black;
  font: inherit;
  font-size:small;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: .5em .75em;
  border: solid thin black;
  border-radius: 0;
  width: fit-content;
  background: gainsboro;
  transition: background .3s;

  &:hover {
    background: whitesmoke;
  }
}